# Ignore everything in config, data, and log directories
config/*
data/*
logs/*

# But do not ignore the templates subdirectories within those directories
!config/templates/
!data/templates/
!log/templates/

# Ensure the content within the templates subdirectories is not ignored
!config/templates/**
!data/templates/**
!log/templates/**

# Ignore other unnecessary files
archive/
*.tmp
*.bak
